<html>
  <head>
    <title>My Angular App!</title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-awesome-slider/dist/angular-awesome-slider.min.js"></script>
  	<link rel="stylesheet" type="text/css" href="bower_components/angular-awesome-slider/dist/css/angular-awesome-slider.min.css">
	
    <script src="slider.js"></script>
    
    </head>
<body>
<div ng-app="myApp" ng-controller="ctrl" style="width:300px;margin:20px;">
    <div style="margin-top:10px">
        <input ng-model="parVal"  type="text" id="{{idPar}}" slider options="parOpt" ng-disabled="disabled" />
    </div>
   
    <div style="display: inline-flex;">
        <div style="margin-top:20px; height:300px;left:30px;margin-right:50px;">
        	<input ng-model="blueVal"  type="text" id="{{bluePeak}}" slider options="blueOpt" ng-disabled="disabled" />
    	</div>
    </div>
   

</div>
</body>
</html>